@page "/Fantasy/Home"

@using DataAccess.Database
@using DataAccess.API
@using DataAccess.Models
@using DataAccess.Models.Fantasy
@using DataAccess.Services
@using FreddiesF1FantasySite.Controls
@using System.Linq

@inject AppStateService appState
@inject ILeagueData leagueData
@inject ITeamData teamData
@inject IDriverTeamMembershipData dtmData
@inject IConstructorTeamMembershipData ctmData

<h2 style="text-align:center">Fantasy Home</h2>

@if (appState.isLoggedIn)
{
    <div>
        <div>
            <h2>My Leagues</h2>
            <a href="/Fantasy/CreateLeague">Create a new League</a>

            @if (leagues is not null)
            {
                @foreach (FantasyLeagueModel league in leagues)
                {
                    <div class="fantasy-league-home-control" style="flex:auto">
                        <div class="fantasy-home-control-head">
                            <h4 style="flex-grow:20">@league.Name</h4>
                            <a href="/Fantasy/ManageLeague/LeagueId=(@league.LeagueId)" style="flex-grow:1"><i class="fa-solid fa-gear icon-colour"></i></a>
                        </div>

                        @if(league.Teams is not null)
                        {
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Pos.</th>
                                        <th>Team</th>
                                        <th>Points</th>
                                        <th> </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < league.Teams.Count; i++)
                                    {
                                        <tr>
                                            <td>@(i+1).</td>
                                            <td>@league.Teams[i].Name</td>
                                            <td>@(league.Teams[i].TotalPoints) pts</td>
                                            @if(league.Teams[i].OwnerId == appState.currentUser.UserId)
                                            {
                                                <td>
                                                    <a href="/Fantasy/ManageTeam/TeamId=(@league.Teams[i].TeamId)" style="flex-grow:1"><i class="fa-solid fa-gear"></i></a>
                                                </td>                                                
                                            }
                                        </tr>
                                    }         
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <p>No teams in this league currently</p>
                        }

                    </div>
                }
            }
            <br /><br />
        </div>

        <h2>My Teams</h2>
        <a href="/Fantasy/CreateTeam">Create a new Team</a>
        @if (ownedTeams is not null)
        {
            @foreach (FantasyTeamModel team in ownedTeams)
            {
                <div class="fantasy-team-home-control">
                    <div class="fantasy-home-control-head">
                        <h4 style="flex-grow:20">@team.Name</h4>
                        <a href="/Fantasy/ManageTeam/TeamId=(@team.TeamId)" style="flex-grow:1"><i class="fa-solid fa-gear icon-colour"></i></a>
                    </div>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Driver</th>
                                <th>Points</th>
                                <th>Current value</th>
                                <th>Purchased value</th>
                                <th>Boosts remaining</th>
                                <th> </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var driver in team.Drivers)
                            {
                                <tr>
                                    <td>@driver.DriverName</td>
                                    <td>@driver.PointsScored</td>
                                    <td>£@(driver.CurrentValue.ToString("F"))m</td>
                                    <td>£@(driver.PurchasedValue.ToString("F"))m</td>
                                    <td>@driver.BoostsRemaining</td> 
                                    <td>
                                        @if(driver.DriverId == team.BoostedDriverId)
                                        {                                            
                                            <i class="fa-solid fa-rocket icon-colour"></i>
                                        }
                                        else
                                        {
                                            <p> </p>
                                        }
                                    </td>
                                    
                                </tr>
                            }
                        </tbody>
                    </table>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Constructor</th>
                                <th>Points</th>
                                <th>Current value</th>
                                <th>Purchased value</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var constructor in team.Constructors)
                            {
                                <tr>
                                    <td>@constructor.ConstructorName</td>
                                    <td>@constructor.PointsScored</td>
                                    <td>£@(constructor.CurrentValue.ToString("F"))m</td>
                                    <td>£@(constructor.PurchasedValue.ToString("F"))m</td>
                                </tr>
                            }
                        </tbody>
                    </table>


                    <p>Total points: @team.TotalPoints</p>
                    <p>Budget Remaining: @(team.BudgetRemaining.ToString("F"))m</p>
                    <p>Team value: @(team.CurrentTeamValue.ToString("F"))m</p>
                </div>
            }
        }
    </div>
}
else
{
    <p>Please log in</p>
}


@code {
    List<FantasyTeamModel> ownedTeams = new();
    List<FantasyLeagueModel> leagues = new();

    protected override async Task OnInitializedAsync()
    {
        await GetOwnedLeagues();
        await GetOwnedTeams();
    }

    /// <summary>
    /// Get all leagues owned by a user
    /// </summary>
    /// <returns></returns>
    private async Task GetOwnedLeagues()
    {
        //get all leagues a user Owns
        leagues = await leagueData.GetAllLeagues();
        foreach (var league in leagues)
        {
            if (league.OwnerId != appState.currentUser.UserId)
                leagues.Remove(league);
        }
    }

    /// <summary>
    /// get all teams a user owns
    /// </summary>
    private async Task GetOwnedTeams()
    {
        //Get all teams a user owns
        ownedTeams = await teamData.GetAllTeams();
        foreach (var t in ownedTeams)
        {
            if (t.OwnerId != appState.currentUser.UserId)
                ownedTeams.Remove(t);
        }


        foreach(var team in ownedTeams)
        {
            team.Constructors = await GetTeamConstructorList(team);
            team.Drivers = await GetTeamDriverList(team);
        }

    }

    /// <summary>
    /// Get list of constructors associated only with this team
    /// </summary>
    /// <param name="team"></param>
    /// <returns>List of constructors only assocaited with this team</returns>
    private async Task<List<ConstructorTeamMembershipModel>> GetTeamConstructorList(FantasyTeamModel team)
    {
        List<ConstructorTeamMembershipModel> allCTMs = await ctmData.GetAllConstructorTeamMemberships();


        return allCTMs.Where(t => t.TeamId == team.TeamId).ToList();
    }

    /// <summary>
    /// Get list of drivers associated only with this team
    /// </summary>
    /// <param name="team"></param>
    /// <returns>List of drievrs only assocaited with this team</returns>
    private async Task<List<DriverTeamMembershipModel>> GetTeamDriverList(FantasyTeamModel team)
    {
        List<DriverTeamMembershipModel> allDTMs = await dtmData.GetAllDriverTeamMemberships();
        return allDTMs.Where(t => t.TeamId == team.TeamId && t.CurrentlySelected == true).ToList();
    }
}
