@using DataAccess.Models.General;
@using DataAccess.Services
@using DataAccess.API
@using DataAccess.Dictionaries
@using DataAccess.Models
@using Newtonsoft.Json

@inject AppStateService appState

@if (driver is not null)
{
    string driverImageURL = GerDriverImage();
    <div class="favourite-control">
        <div class="favourite-control-info">
            <h2><b>@(appState.currentUser.Username)'s Favourite Driver</b></h2>
            <h4>@appState.currentUser.FavouriteDriverName</h4>

            @if (driver.MRData.StandingsTable.StandingsLists.Count() > 0)
            {
                <p>Championship position: @driver.MRData.StandingsTable.StandingsLists[0].DriverStandings[0].Position</p>
                <p>Points: @driver.MRData.StandingsTable.StandingsLists[0].DriverStandings[0].Points</p>
                <p>Wins: @driver.MRData.StandingsTable.StandingsLists[0].DriverStandings[0].Wins</p>
            }
        </div>

        <div class="favourite-control-image">
            <img class="img favourite-control-image" src="@driverImageURL" />
        </div>
    </div>    
}

@code {
    DriverResultsModel.Root driver;

    protected override async Task OnInitializedAsync()
    {
        string json = await ApiService.GetDriverResultsAsync(DateTime.Now.Year, appState.currentUser.FavouriteDriverId);

        driver = JsonConvert.DeserializeObject<DriverResultsModel.Root>(json);
    }

    public string GerDriverImage()
    {
        return DriverImageDictionary.ConvertDriverName(appState.currentUser.FavouriteDriverId);
    }
}
