@page "/Account/Manage"

@using DataAccess.Services
@using DataAccess.API
@using DataAccess.Database
@using DataAccess.Models
@using Microsoft.AspNetCore.Identity;
@using Newtonsoft.Json
@using DataAccess.Dictionaries
@using DataAccess.Models.General

@inject AppStateService appState
@inject IUserData userData
@inject NavigationManager navMan

<h1 style="text-align: center">Account management</h1>
<br />

@if (appState.isLoggedIn)
{
    <div hidden="@userVerified">
        <label for="re-enter-password">Please re-enter you password</label>
        <input type="password" @bind="passwordInitialCheck" id="re-enter-password" />
        <button type="button" @onclick="VerifyInitialPassword">Next</button>
    </div>


    @if (userVerified == true)
    {
        <form id="manage-account">

            <label>Account level</label>
            <select id="manageAccountAccountlevel" class="manage-account-input" @bind="user.UserLevel">
                <option selected="@user.UserLevel">Standard</option>

                <option selected="@user.UserLevel">Pro</option>
                @if (user.UserLevel == UserLevels.Administrator)
                {
                    <option selected="@user.UserLevel">Administrator</option>
                }
            </select>
            <br /><br />

            <label for="accountUsername">Username:</label><br />
            <input type="text" id="accountUsername" class="manage-account-input" @bind="user.Username" />
            <br /><br />

            <label for="accountPassword">Password</label><br />
            <input type="password" id="accountPassword" class="manage-account-input" @bind="passwordInitialCheck" disabled="@(!passwordEditable)"/>
            <button type="button" @onclick="PasswordEditButtonToggle">@passwordEditCancelButtonText</button>
            <br /><br />

            <label for="accountFullName">Full name:</label><br />
            <input type="text" id="accountFullName" class="manage-account-input" @bind="user.FullName" />
            <br /><br />

            <label for="selectFavDriver">Favourite Driver</label><br />
            <select id="selectFavDriver" class="manage-account-input" @bind="user.FavouriteDriverId">
                <option>---Select driver---</option>
                @if (drivers is not null)
                {
                    @foreach (var driver in drivers.MRData.StandingsTable.StandingsLists[0].DriverStandings)
                    {
                        <option value="@driver.Driver.DriverId" selected="@(driver.Driver.DriverId == user.FavouriteDriverId)">@driver.Driver.FullName</option>
                    }
                }
            </select>
            <br /><br />

            <label for="selectFavConstructor">Favourite Constructor</label><br />
            <select id="selectFavConstructor" class="manage-account-input" @bind="user.FavouriteConstructorId">
                <option>---Select constructor---</option>
                @if (constructors is not null)
                {
                    @foreach (var constructor in constructors.MRData.StandingsTable.StandingsLists[0].ConstructorStandings)
                    {
                        <option value="@constructor.Constructor.ConstructorId" selected="@(constructor.Constructor.ConstructorId == user.FavouriteConstructorId)">@constructor.Constructor.Name</option>
                    }
                }
            </select>
            <br /><br />
            <button type="button" style="width:20%; float:left" @onclick="OnCancel">Cancel</button>
            <button type="submit" style="width:20%; float:right" @onclick="UpdateAccount">Save</button>
        </form>
    }
}


@code {
    PasswordHasher<UserModel> passwordHasher = new();
    DriverStandingsModel.Root? drivers;
    ConstructorStandingsModel.Root? constructors;
    UserModel? user;
    string newPasswordInputText = "";
    string passwordEditCancelButtonText = "Edit";
    string passwordInitialCheck = "";
    bool userVerified = false;
    bool passwordEditable = false;

    protected override async Task OnInitializedAsync ()
    {
        user = appState.currentUser;

        var driverJson = await ApiService.GetDriverStandingsAsync(DateTime.Now.Year.ToString());
        drivers = JsonConvert.DeserializeObject<DriverStandingsModel.Root>(driverJson);

        var constructorJson = await ApiService.GetConstructorStandingsAsync(DateTime.Now.Year.ToString());
        constructors = JsonConvert.DeserializeObject<ConstructorStandingsModel.Root>(constructorJson);
    }

    private void PasswordEditButtonToggle()
    {

        if(passwordEditCancelButtonText == "Edit")
        {
            passwordEditCancelButtonText = "Cancel";
            passwordEditable = true;
        }
        else
        {
            passwordEditCancelButtonText = "Edit";
            passwordEditable = false;
        }

    }

    private string HashPassword(string unhashedPassword)
    {
        return passwordHasher.HashPassword(user, unhashedPassword);
    }

    private PasswordVerificationResult VerifyPassword (string hashedPassword, string unhashedPassword)
    {
        return passwordHasher.VerifyHashedPassword(user, hashedPassword, unhashedPassword);
    }

    private void VerifyInitialPassword()
    {
        string initialHashedPassword = HashPassword(passwordInitialCheck);
        if(VerifyPassword(initialHashedPassword, passwordInitialCheck) == PasswordVerificationResult.Success)        
            userVerified = true;        
        else        
            userVerified = false;        
    }

    private async void UpdateAccount()
    {
        user.Password = HashPassword(newPasswordInputText);
        await userData.UpdateUserDetails(user);

        //refresh user info on page
    }

    private void OnCancel()
    {
        navMan.NavigateTo("/");
    }
}
